{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Legal Notice" %} | LIONESS
{% endblock %}

{% block content %}

<section class="terms-page py-5">

    <div class="container">

        <div class="terms-card">
            <h1 class="mb-4 text-center terms-title">{% trans "Legal Notice" %}</h1>

            <h2>{% trans "Website Publisher" %}</h2>

                <p>
                    <strong>LIONESS – Le Magazine des Reines</strong><br>
                    {% trans "Published by" %} Leyilab<br>
                    Caen, France
                </p>

            <h2>{% trans "Contact Information" %}</h2>

                <p>
                    Email: lioness.lemagdesreines@gmail.com<br>
                    {% trans "Phone:" %} +33 7 53 92 93 84
                </p>

            <h2>{% trans "Publication Director" %}</h2>

            <p>
                LIONESS  {% trans "Editorial Team" %}
            </p>

        <h2>{% trans "Hosting Provider" %}</h2>

            <p>
                {% trans "[Hosting Provider Name]" %}<br>
                {% trans "[Hosting Provider Address]" %}<br>
                {% trans "[Hosting Provider Website]" %}
            </p>

        <h2>{% trans "Intellectual Property" %}</h2>

            <p>
                {% blocktrans %}All content available on this website, including texts, articles,
                images, photographs, illustrations, graphics, logos, videos,
                trademarks, and other materials, is protected by applicable
                intellectual property laws.{% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}Unless otherwise stated, all rights are reserved by LIONESS or
                their respective owners.{% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}Any reproduction, distribution, modification, publication,
                transmission, or commercial exploitation of the content without
                prior written authorization is strictly prohibited.{% endblocktrans %}
            </p>

        <h2>{% trans "Limitation of Liability" %}</h2>

            <p>
                {% blocktrans %}The information published on this website is provided for general
                information purposes only.{% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}Although every effort is made to ensure the accuracy of the
                information presented, LIONESS does not guarantee that all
                information is complete, accurate, or up to date.{% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}LIONESS shall not be held liable for any direct or indirect damages
                resulting from access to or use of this website.{% endblocktrans %}
            </p>
        </div>
    </div>
</section>
{% endblock %}
