{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/logo_favicon.png' %}">
<title>Connexion - Lioness</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!-- HEADER -->
    <header class="top-header">

        <div class="header-left">
            <a href="{% url 'home' %}" class="return-link">
⟵ Retour au site
            </a>
        </div>

        <div class="header-center">
            <a href="{% url 'home' %}">
                <img
                    src="{% static 'images/logo-lioness.png' %}"
                    alt="Lioness"
                    class="logo"
                >
            </a>
        </div>

        <div class="header-right">
<a class="text-decoration-none" href="/i18n/setlang/?language=fr">FR</a> ▾
        </div>

    </header>

    <!-- LOGIN -->
    <main class="register-wrapper">

        <div class="register-card">

<h1>SE CONNECTER</h1>

            <p class="intro">
Les champs marqués d’un * sont obligatoires.
            </p>

            {% if form.errors %}
            <div class="form-errors">
                {{ form.errors }}
            </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="field">
Adresse e-mail*
                    {{ form.username }}
                </div>

                <div class="field">
Mot de passe*
                
                    <div class="password-wrapper">
                        {{ form.password }}
                
                        <span class="toggle-password" onclick="togglePassword('id_password', this)">
                            <i class="bi bi-eye"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <a href="#" class="forgot-password">
Mot de passe oublié ?
                    </a>
                </div>

<button type="submit">
                    Connexion
                </button>

            </form>

            <p style="text-align:center; margin-bottom:20px;">
Vous n’avez pas encore de compte ?
                <a href="{% url 'accounts:register' %}">
S’inscrire
                </a>
            </p>

        </div>

    </main>

    <!-- FOOTER -->
    <footer>

<a href="#">Nous contacter</a>
<a href="#">Mentions légales</a>
<a href="#">Confidentialité</a> |
<a href="#">Conditions d’utilisation</a> |
<a href="#">Gestion des cookies</a> |
<a href="#">Politique de confidentialité</a>

    </footer>
    <script>
        function togglePassword(fieldId, element) {
        
            const field = document.getElementById(fieldId);
            const icon = element.querySelector('i');
        
            if (field.type === "password") {
                field.type = "text";
        
                icon.classList.remove("bi-eye");
                icon.classList.add("bi-eye-slash");
        
            } else {
                field.type = "password";
        
                icon.classList.remove("bi-eye-slash");
                icon.classList.add("bi-eye");
            }
        }
        </script>
</body>
</html>
